[MESSAGES_CONTROL]
# C0103: Module snake_case naming style
# C0114: Missing module docstring
# C0116: Missing function or method docstring
disable=C0103,C0114,C0116

[FORMAT]
# Set maximum allowed line length to 120 characters
max-line-length=120
